.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
body {
  background: rgba(8, 154, 115, 0.643);
}

.account-type {
  display: flex;
  gap: 150px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 500;
}

.btn-success {
  background-color: rgb(37, 83, 61);
  width: 100%;
  color: white;
}

.create-account-btn {
  width: 100%;
  text-decoration: underline;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.text-danger {
  color: red;
}

.wrapper {
  display: flex;
  width: 1000px;
  height: 95%;
  box-sizing: border-box;
  margin: auto;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content,
.image-container {
  width: 50%;
  height: 100%;
}

.welcome-text {
  font-weight: bold;
  font-size: 50px;
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
