.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background: rgba(8, 154, 115, 0.643);
}

.account-type {
  display: flex;
  gap: 150px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 500;
}

.btn-success {
  background-color: rgb(37, 83, 61);
  width: 100%;
  color: white;
}

.create-account-btn {
  width: 100%;
  text-decoration: underline;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.text-danger {
  color: red;
}
