nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 100px 40px 100px;
  background-color: rgba(13, 70, 13, 0.401);
  max-width: 1000px;
  width: 1000px;
  height: 80px;
}

.nav-content {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
}

.profile-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

.image-picker-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  border: 1px solid #e0e0e0;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 340px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.image-picker-modal img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.profile-info img:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
