.mentor-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.mentee-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar-button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  border-top: 40px;
}

.notifications-popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  overflow: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.back-arrow {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.chat-popup {
  position: fixed;
  right: 100px;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ccc;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
