.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-btn {
  width: 100%;
  text-decoration: underline;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 1000px;
  height: 95%;
  box-sizing: border-box;
  margin: auto;
  padding: 30px;
}

.content input {
  border: 3px solid transparent;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(21deg, #df972c, #1beabd);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 1px;
  outline: none;
  transition: all 0.3s;
}

.content input:focus {
  border-width: 4px;
  background-size: 100% 100%, 100% 100%;
}
